
@using WebApplication1.Controllers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyProgramPlayList</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="bg-black Fixed_Panel">
             <div class="Fixed_Panel_Menu">
                @if(Helper.user != null)
                {
                <div>
                    <a class="" asp-area="" asp-controller="Home" asp-action="Login">@Helper.user?.UserName - @Helper.user?.UserAccessLevel</a>
                </div>
                }

                <div>
                    <a class="" asp-area="" asp-controller="Home" asp-action="Index">Главное</a>
                </div>
                <div>
                    <a class="" asp-area="" asp-controller="" asp-action="">Поиск</a>
                </div>
                <div>
                    <a class="" asp-area="" asp-controller="" asp-action="">Моя медиатека</a>
                </div>
                <div>

                </div>
                <div>
                    <a class="" asp-area="" asp-controller="" asp-action="">Создать плейлист</a>
                </div>
                <div>
                    <a class="" asp-area="" asp-controller="" asp-action="">Любимые треки</a>
                </div>
                @if(Helper.user == null)
                {
                <div>
                    <a class="" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                </div>
                }
            </div>
        </nav>
    </header>


    <div class="Main_Container">

        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
