
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

audio {
    border: 1px solid #41464b;
    border-radius: 30px;
}

a{
    text-decoration: none !important;
    color: white!important;
}

audio::-webkit-media-controls-panel {
    background-color: #41464b;
}

body {
    margin-bottom: 50px;
    background-color: #232324;
    color: white;
}

.Main_Container {
    margin-left: 310px;
}
.Choose_User_Menu{
    padding: 2% 5% 2% 0;
}

.Choose_User_Menu button {
    float:right;
}

.Fixed_Panel {
    width: 300px;
    height: 100vh;
    padding-left: 2%;
    padding-top: 3%;
    position: fixed;
}

.Fixed_Panel_PlayLists {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Fixed_Panel_PlayLists a {
    text-decoration: none;
    color: white;
}

.Fixed_Panel_Menu {
    display: flex;
    height: 35%;
    flex-direction: column;
    justify-content: space-between;
}

.Fixed_Panel_Menu div a {
    color:white;
    text-decoration:none;
    font-weight:bold;
}

.Track_Block {
    padding: 3% 3% 0 3%;
}


#Player {
    position: fixed;
    padding-left: 5%;
    width: 100%;
    height: 100px;
    z-index: 50;
    bottom: 0;
    background-color: #232324;
    /*background-color: white;*/
    /*visibility: hidden;*/
}

#Player audio {
    top: 0;
    width :70%;
} 

/*************** bootstrap from https://codepen.io/MiRaxX69/pen/PvaEaG *****************/


.audio-player {
    position: relative;
    width: 100%;
    height: 340px;
    text-align: center;
    padding-bottom: 100%;
    background-color: black;
}

.audio-player:hover {
    background-color: #41464b;
}

.player-a {
    background-color: black;
    border:none;
    display:inline-block;
    margin: 15px;
    padding: 0;
    width: 80%;
    height: 225px;
    z-index: 50;
}

.audio-player img {
    width: 100%;
    height: 90%;
}

.audio-player__title {
    position: absolute;
    color: #fff;
    padding-top: 105%;
    width: 100%;
}

.audio-player__control {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    border: none;
    background: none;
    cursor: pointer;
}

.audio-player__control-icon {
    position: absolute;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 3px solid #fff;
    top: 0%;
    right: 0;
    bottom: 25%;
    left: 0%;
    margin: auto;
    overflow: hidden;
    transition: all 200ms ease-out;
    transform: scale(1);
    will-change: transform;
}


.audio-player__control-icon::after,
.audio-player__control-icon::before {
    transition: all 200ms;
    will-change: transform;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.audio-player__control-icon::after {
    left: 5px;
    width: 0;
    height: 0;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 20px solid #fff;
    transform: translateY(0);
}

.audio-player__control-icon::before {
    width: 15px;
    height: 30px;
    border-right: 6px solid #fff;
    border-left: 6px solid #fff;
    transform: translateY(-50px);
}

.audio-players {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-bottom: 5% !important;
}

.audio-players li {
    display: inline-block;
    vertical-align: top;
    max-width: 250px;
    margin: 20px;
}

/******************************************************/

/************** https://www.sliderrevolution.com/resources/bootstrap-login-form/ *******************/

.saved {
    display: inline-block;
    cursor: pointer;
}
.saved-div {
    width:112%;
    margin-left: -6%;
    display:flex;
    justify-content:space-between;
}

.saved-margin {
    margin-left:100%;
}

.login-form-user {
    width: 100%;
    padding: 15% 25%;
}

.login-form-user p, .form-add-track p{
    width: 500px;
}

.login-form-user-input{
    margin-top: 10px;
    height: 45px;
    width: 500px !important;
    border: 3px solid #232324;
    border-radius: 30px;
}

input.login-form-user-input:hover, .form-add input:hover{
    border: 1px solid #232324;
}

.login-form-user-input-btn {
    width: 400px !important;
    margin-left: 50px;
    margin-top: 20px;
    border: 3px solid #232324;
    border-radius: 30px;
}

/**********************************************************/

.form-add-track {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5% 5%;
}

.form-add-track input {
    width: 500px;
    margin-bottom: 3%;
    height: 35px;
}

input.uplod-btn {
    width: 100px;
    border: 3px solid #232324;
    border-radius: 30px;
}

.btn-add-track {
    display: block;
    float: right;
    margin: 4% 4% 0 0;
}

.search-menu {
    padding-top: 40px;
    padding-bottom: 3%;

    display:flex;
    justify-content: space-around;
}

.search-menu input {
    height: 40px;
}

.search-menu div select {
    font-weight: 400;
    line-height: 1.5;
    color: white;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
}

.search-menu div select option {
    background-color: #232324;
    border: none;
}

.hide {
    display: none;
}

.center {
    text-align:center;
    width: 90%;
}

/*******************************************************************/

.PlayList-Form {
    padding-top: 3%;
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
    margin-left: 60px;
}

.image-playlist {
    width: 260px;
    height: 260px;
    margin: 5%;
    background-image: url('../files/pictures/default-for-playlist.jpg');
    background-size: cover;
}

.image-playlist:hover {
    background-image: url('../files/pictures/upload.png');
}
.PlayList-Form img{
    width: 260px;
    height: 260px;
    z-index: 10;
}

.image-playlist input  {
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.playlist-name {
    display: flex;
    flex-direction: column;
}


.playlist-name input {
    color: white;
    background-color: #232324;
    border:none;
    width: 80%;
    height: 30%;
    margin: 15% 0 0 0;
    font-family:'Times New Roman', Times, serif;
    font-size: 200%;
    font-weight: bold;
    letter-spacing: 0.3em ;
}

.playlist-name label {
    font-family:'Times New Roman', Times, serif;
    font-size: 120%;
}

.PlayList-Form button {
    margin-top: 5%;
    margin-left: 70%;
    width: 10%;
}


.dropdown, .dropend, .dropstart, .dropup {
    position: relative;
    width: 850px !important;
    margin-left: -580px !important;
}

.btn-edit {
    margin: 0 !important;
    margin-left: 86% !important;
    margin-top: -5% !important;
}

.delete {
    position: fixed;
    right: 3%;
    top: 3%;
}

.marginibottom {
    margin-bottom: 10px;
}

.paddingtop {
    padding-top: 20px;
}
.liblary-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "saved saved 1 2"
                         "3 4 5 6";
}

.liblary-menu a {
     color: white;
     text-decoration: none;
}

.library {
    display: inline-block;
    background-color: #0e0c0c;
    margin: 15px;
    height: 340px;
    width: 267px;
}

.library:hover {
    background-color: #808080;
}

.library-saved {
    display: inline-block;
    grid-area: saved;
    width: 567px;
    background-color: #9cb06c;
}

.library-saved:hover {
    background-color: #acc966;
}

.library-saved h2 {
    margin-left: 65px;
    margin-top: 260px;
}


.library h5 {
    margin: 0;
    margin-top: 20px;
}

.library h5, .library p {
    margin-left: 35px;
}

.library img {
    width: 74%;
    height: 225px;
    margin: 15px 0 0 13%;
}


li.user {
    width: 100%;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-list {
    display: grid;
    grid-template-columns: 0.6fr 0.3fr 0.1fr;
}

.flexiable {
    display:flex;
    justify-content: space-between;
}

.form-add input {
    width: 500px;
    margin-left: 45px;
    margin-right: 80px;
    margin-bottom: 20px;
    height: 45px;
    border: 3px solid #232324;
    border-radius: 30px;
}

.PlayList-add {
    margin-left: 640px;
    margin-top: 50px;
}

button.btn-marginleft {
    margin-left: 50px;
}
