
@using WebApplication1.Controllers

@model WebApplication1.DataLayer.DbPlayList


@{
    ViewData["Title"] = "Home Page";
}


<div id="Player">@{/*
    <audio id="audioPlayer" controls loop preload="metadata">
        <!--<source src="/audio/Нашид - Машаллах.mp3" type="audio/mpeg">
        Your browser don`t support audio player... Update browser and try again ;) -->
    </audio>*/}
</div>

@{/*
<div class="Track_Block">
    <h3>Недавно прослушено</h3>
</div>
*/}

@if(Helper.user?.UserAccessLevel == "admin")
{
    <div class="btn btn-success btn-add-track">
        <a class="text-white"  asp-area="" asp-controller="Tracks" asp-action="Index">Add Track</a>
    </div>
}


<div class="search-menu">
    <div>
        <label>order by</label>
        <select>
            <option>Track name</option>
            <option>Artist</option>
        </select>
    </div>
    <div>
        <input type="text" placeholder="search"/>
        <input class="btn btn-primary type="submit" value="search"/>
    </div>
</div>

<!-- /*************** bootstrap from https://codepen.io/MiRaxX69/pen/PvaEaG *****************/ -->
<!-- jade: compressed-->

@if(@Model.tracks != null)
{
 <ul class="audio-players">
    @foreach (var @track in @Model.tracks)
    {
     <li>
        <div onclick="playAudio('@{@track.Audio}')" class="audio-player js-audio-player">
            <button class="audio-player__control">
                <div class="audio-player__control-icon"></div>
            </button>
            <div class="audio-player__title">
                <h5>@track.Artist</h5>
                <p>@track.TrackName</p>

            </div>
            <img src="@track.Picture"/>
        </div>
    </li>   
    }
</ul>
   
}
<!-- /********************************************************************/ -->


