@using WebApplication1.Models

@model List<Tracks>

@{
    ViewData["Title"] = "Tracks of artist";
}

<div class="paddingtop container">
    <ul>
        @foreach(var track in @Model)
        {
            <li class="marginibottom flexiable w-75">
                <p>@track?.TrackName</p>
                <form method="post" class="saved">
                    <a asp-controller="Artists" asp-action="Delete" asp-route-trackid="@track?.TrackId" asp-route-artistid="@track?.Artist?.ArtistId">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                    </a>
                </form>
            </li>
        }
    </ul>
</div>
